@import "tailwindcss";

@theme {
  --color-primary: #EFE7F5;
  --color-secondary: #673BB6;
  --color-third: #202124;
}

@layer base {
  .section {
    @apply flex flex-col gap-1 bg-white shadow-xl rounded p-10
  }
}